##TODO:

outliers isolation

graphs (3.g. scatterplot matrix)

correlation matrix


correlations w/out outliers

operations btwn cols

group continuous features (e.g. price range)

In [20]:
from base_data_handler import BaseDataHandler
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [21]:
file_path = "Cars Datasets 2025.csv"
handler = BaseDataHandler(file_path, encoding='latin-1')

## Dataframe:

In [22]:
handler.print_dataframe()

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
0,FERRARI,SF90 STRADALE,V8,3990 cc,963 hp,340 km/h,2.5 sec,"$1,100,000",plug in hyrbrid,2,800 Nm
1,ROLLS ROYCE,PHANTOM,V12,6749 cc,563 hp,250 km/h,5.3 sec,"$460,000",Petrol,5,900 Nm
2,Ford,KA+,1.2L Petrol,"1,200 cc",70-85 hp,165 km/h,10.5 sec,"$12,000-$15,000",Petrol,5,100 - 140 Nm
3,MERCEDES,GT 63 S,V8,"3,982 cc",630 hp,250 km/h,3.2 sec,"$161,000",Petrol,4,900 Nm
4,AUDI,AUDI R8 Gt,V10,"5,204 cc",602 hp,320 km/h,3.6 sec,"$253,290",Petrol,2,560 Nm

## Describe:

In [23]:
handler.df.describe()

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
count,1218,1218,1218,1215,1218,1218,1212,1218,1218,1218,1217
unique,37,1201,356,311,456,114,180,535,23,19,263
top,Nissan,Polo BlueMotion,I4,1984 cc,355 hp,250 km/h,6.5 sec,"$35,000",Petrol,5,400 Nm
freq,149,2,64,31,23,145,45,36,871,692,72

## Null Handle:

In [24]:
handler.df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Names              1218 non-null   object
 1   Cars Names                 1218 non-null   object
 2   Engines                    1218 non-null   object
 3   CC/Battery Capacity        1215 non-null   object
 4   HorsePower                 1218 non-null   object
 5   Total Speed                1218 non-null   object
 6   Performance(0 - 100 )KM/H  1212 non-null   object
 7   Cars Prices                1218 non-null   object
 8   Fuel Types                 1218 non-null   object
 9   Seats                      1218 non-null   object
 10  Torque                     1217 non-null   object
dtypes: object(11)
memory usage: 104.8+ KB

In [25]:
handler.df.dropna(inplace=True)
handler.df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1210 entries, 0 to 1217
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Names              1210 non-null   object
 1   Cars Names                 1210 non-null   object
 2   Engines                    1210 non-null   object
 3   CC/Battery Capacity        1210 non-null   object
 4   HorsePower                 1210 non-null   object
 5   Total Speed                1210 non-null   object
 6   Performance(0 - 100 )KM/H  1210 non-null   object
 7   Cars Prices                1210 non-null   object
 8   Fuel Types                 1210 non-null   object
 9   Seats                      1210 non-null   object
 10  Torque                     1210 non-null   object
dtypes: object(11)
memory usage: 113.4+ KB

In [39]:
s, clean_df = handler.try_clean_column_names()

# Data Cleaning
## Fuel Types normalized as strings, stripped and sorted

In [ ]:
col = "fuel_types"

clean_df = handler.df.copy()
clean_df[col] = (
    handler.df[col]
    .astype(str)              # ensure strings
    .str.strip()              # remove leading/trailing whitespace
    .str.replace(r"\s+", " ", regex=True)  # normalize multiple spaces
    .str.title()              # consistent capitalization
)


clean_df[col] = clean_df[col] = (
    clean_df[col]
    .astype(str)
    .str.replace(r"[\/\(\)]", ",", regex=True)  # replace / ( ) with commas
)

clean_df[col] = clean_df[col].str.replace(r"\s+", " ", regex=True).str.strip()


clean_df[col] = (
    clean_df[col]
    .str.split(",")
    .apply(lambda parts: ", ".join(sorted([p.strip().title() for p in parts if p.strip()])))
)

mask = clean_df[col].str.contains("Gas", case=False, na=False)
clean_df = clean_df[~mask]
mask = clean_df[col].str.contains("Plug", case=False, na=False)
clean_df = clean_df[~mask]

#visualization
group_df = clean_df.groupby(col).count()
group_df.head(200)

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Seats,Torque
Fuel Types,,,,,,,,,,
"Awd, Petrol",2,2,2,2,2,2,2,2,2,2
"Cng, Petrol",1,1,1,1,1,1,1,1,1,1
Diesel,102,102,102,102,102,102,102,102,102,102
"Diesel, Petrol",23,23,23,23,23,23,23,23,23,23
Electric,95,95,95,95,95,95,95,95,95,95
"Electric, Hybrid",1,1,1,1,1,1,1,1,1,1
"Ev, Petrol",1,1,1,1,1,1,1,1,1,1
Hybrid,79,79,79,79,79,79,79,79,79,79
"Hybrid, Petrol",23,23,23,23,23,23,23,23,23,23
Hydrogen,3,3,3,3,3,3,3,3,3,3
Petrol,871,871,871,871,871,871,871,871,871,871

## Cleaned and stripped Company Names

In [ ]:
col = "comany_names"

clean_df = clean_df.copy()
clean_df[col] = (
    clean_df[col]
    .astype(str)              # ensure strings
    .str.strip()              # remove leading/trailing whitespace
    .str.replace(r"\s+", " ", regex=True)  # normalize multiple spaces
    .str.title()              # consistent capitalization
)

group_df = clean_df.groupby(col).count()
group_df.head(200)

,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
Company Names,,,,,,,,,,
Acura,27,27,27,27,27,27,27,27,27,27
Aston Martin,11,11,11,11,11,11,11,11,11,11
Audi,21,21,21,21,21,21,21,21,21,21
Bentley,1,1,1,1,1,1,1,1,1,1
Bmw,41,41,41,41,41,41,41,41,41,41
Bugatti,10,10,10,10,10,10,10,10,10,10
Cadillac,20,20,20,20,20,20,20,20,20,20
Chevrolet,58,58,58,58,58,58,58,58,58,58
Ferrari,8,8,8,8,8,8,8,8,8,8
Ford,54,54,54,54,54,54,54,54,54,54
Gmc,59,59,59,59,59,59,59,59,59,59
Honda,7,7,7,7,7,7,7,7,7,7
Hyundai,23,23,23,23,23,23,23,23,23,23
Jaguar Land Rover,39,39,39,39,39,39,39,39,39,39
Jeep,19,19,19,19,19,19,19,19,19,19
Kia,69,69,69,69,69,69,69,69,69,69
Lamborghini,24,24,24,24,24,24,24,24,24,24
Mahindra,3,3,3,3,3,3,3,3,3,3
Maruti Suzuki,3,3,3,3,3,3,3,3,3,3
Mazda,86,86,86,86,86,86,86,86,86,86
Mercedes,20,20,20,20,20,20,20,20,20,20
Mitsubishi,55,55,55,55,55,55,55,55,55,55
Nissan,158,158,158,158,158,158,158,158,158,158
Peugeot,54,54,54,54,54,54,54,54,54,54
Porsche,96,96,96,96,96,96,96,96,96,96
Rolls Royce,30,30,30,30,30,30,30,30,30,30
Tata Motors,29,29,29,29,29,29,29,29,29,29
Tesla,10,10,10,10,10,10,10,10,10,10
Toyota,45,45,45,45,45,45,45,45,45,45
Volkswagen,109,109,109,109,109,109,109,109,109,109
Volvo,12,12,12,12,12,12,12,12,12,12

In [28]:
group_df = clean_df.groupby("Cars Prices").count()
group_df.head(1500)

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Fuel Types,Seats,Torque
Cars Prices,,,,,,,,,,
"$1,000,000",1,1,1,1,1,1,1,1,1,1
"$1,100,000",3,3,3,3,3,3,3,3,3,3
"$1,300,000",1,1,1,1,1,1,1,1,1,1
"$1,700,000",1,1,1,1,1,1,1,1,1,1
"$10,000",2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...
"$98,000",1,1,1,1,1,1,1,1,1,1
"$98,300",2,2,2,2,2,2,2,2,2,2
"$98,490",1,1,1,1,1,1,1,1,1,1
"$99,000",1,1,1,1,1,1,1,1,1,1
"33,000",1,1,1,1,1,1,1,1,1,1

In [29]:
handler.try_init_df(clean_df)
handler.try_clean_string_to_number_col("Cars Prices")

clean_df = handler.df.copy()
group_df = clean_df.groupby("Cars Prices").count()
group_df.head(1500)

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Fuel Types,Seats,Torque
Cars Prices,,,,,,,,,,
4000.0,1,1,1,1,1,1,1,1,1,1
5000.0,1,1,1,1,1,1,1,1,1,1
6200.0,1,1,1,1,1,1,1,1,1,1
6500.0,1,1,1,1,1,1,1,1,1,1
7000.0,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
5000000.0,1,1,1,1,1,1,1,1,1,1
5800000.0,1,1,1,1,1,1,1,1,1,1
6000000.0,1,1,1,1,1,1,1,1,1,1
9000000.0,1,1,1,1,1,1,1,1,1,1
18000000.0,1,1,1,1,1,1,1,1,1,1

In [30]:
clean_df = clean_df.drop(columns=['Engines'])
clean_df.head()

,Company Names,Cars Names,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
1,Rolls Royce,PHANTOM,6749 cc,563 hp,250 km/h,5.3 sec,460000.0,Petrol,5,900 Nm
2,Ford,KA+,"1,200 cc",70-85 hp,165 km/h,10.5 sec,13500.0,Petrol,5,100 - 140 Nm
3,Mercedes,GT 63 S,"3,982 cc",630 hp,250 km/h,3.2 sec,161000.0,Petrol,4,900 Nm
4,Audi,AUDI R8 Gt,"5,204 cc",602 hp,320 km/h,3.6 sec,253290.0,Petrol,2,560 Nm
5,Bmw,Mclaren 720s,"3,994 cc",710 hp,341 km/h,2.9 sec,499000.0,Petrol,2,770 Nm

In [31]:
group_df = clean_df.groupby("Total Speed").count()
group_df.head(200)

,Company Names,Cars Names,CC/Battery Capacity,HorsePower,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
Total Speed,,,,,,,,,
100 km/h,1,1,1,1,1,1,1,1,1
105 km/h,1,1,1,1,1,1,1,1,1
110 km/h,4,4,4,4,4,4,4,4,4
120 km/h,11,11,11,11,11,11,11,11,11
125 km/h,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
490 km/h,1,1,1,1,1,1,1,1,1
500 km/h,1,1,1,1,1,1,1,1,1
80 km/h,1,1,1,1,1,1,1,1,1
85 km/h,1,1,1,1,1,1,1,1,1
90 km/h,1,1,1,1,1,1,1,1,1

In [32]:
clean_df = clean_df.drop(columns=['Total Speed'])
clean_df.head()

,Company Names,Cars Names,CC/Battery Capacity,HorsePower,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
1,Rolls Royce,PHANTOM,6749 cc,563 hp,5.3 sec,460000.0,Petrol,5,900 Nm
2,Ford,KA+,"1,200 cc",70-85 hp,10.5 sec,13500.0,Petrol,5,100 - 140 Nm
3,Mercedes,GT 63 S,"3,982 cc",630 hp,3.2 sec,161000.0,Petrol,4,900 Nm
4,Audi,AUDI R8 Gt,"5,204 cc",602 hp,3.6 sec,253290.0,Petrol,2,560 Nm
5,Bmw,Mclaren 720s,"3,994 cc",710 hp,2.9 sec,499000.0,Petrol,2,770 Nm

In [33]:
handler.df = clean_df.copy()

In [ ]:
clean_df.head()

,company_names,cars_names,cc_battery_capacity,horsepower,performance_0_100_km_h,cars_prices,fuel_types,seats,torque
1,Rolls Royce,PHANTOM,6749 cc,563 hp,5.3 sec,460000.0,Petrol,5,900 Nm
2,Ford,KA+,"1,200 cc",70-85 hp,10.5 sec,13500.0,Petrol,5,100 - 140 Nm
3,Mercedes,GT 63 S,"3,982 cc",630 hp,3.2 sec,161000.0,Petrol,4,900 Nm
4,Audi,AUDI R8 Gt,"5,204 cc",602 hp,3.6 sec,253290.0,Petrol,2,560 Nm
5,Bmw,Mclaren 720s,"3,994 cc",710 hp,2.9 sec,499000.0,Petrol,2,770 Nm

In [35]:
col = "cc_battery_capacity"

handler.try_clean_string_to_number_col(col)
clean_df = handler.df.copy()
group_df = clean_df.groupby(col).count()
group_df.head(1500)

,company_names,cars_names,horsepower,performance_0_100_km_h,cars_prices,fuel_types,seats,torque
cc_battery_capacity,,,,,,,,
7.5,2,2,2,2,2,2,2,2
8.5,1,1,1,1,1,1,1,1
10.0,2,2,2,2,2,2,2,2
12.5,1,1,1,1,1,1,1,1
13.0,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...
7700.0,1,1,1,1,1,1,1,1
7993.0,10,10,10,10,10,10,10,10
12800.0,4,4,4,4,4,4,4,4
13000.0,2,2,2,2,2,2,2,2
16100.0,1,1,1,1,1,1,1,1

In [36]:
col = "horsepower"

handler.try_clean_string_to_number_col(col)
clean_df = handler.df.copy()
group_df = clean_df.groupby(col).count()
group_df.head(1500)

,company_names,cars_names,cc_battery_capacity,performance_0_100_km_h,cars_prices,fuel_types,seats,torque
horsepower,,,,,,,,
26.0,1,1,1,1,1,1,1,1
37.0,1,1,1,1,1,1,1,1
47.0,1,1,1,1,1,1,1,1
48.0,2,2,2,2,2,2,2,2
52.0,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...
1160.0,1,1,1,1,1,1,1,1
1288.0,1,1,1,1,1,1,1,1
1500.0,6,6,6,6,6,6,6,6
1600.0,3,3,3,3,3,3,3,3
1850.0,1,1,1,1,1,1,1,1

In [ ]:
col = "torque"

handler.try_clean_string_to_number_col(col)
clean_df = handler.df.copy()
group_df = clean_df.groupby(col).count()
group_df.head(1500)

,company_names,cars_names,cc_battery_capacity,horsepower,performance_0_100_km_h,cars_prices,fuel_types,seats
torque,,,,,,,,
45.0,1,1,1,1,1,1,1,1
51.0,1,1,1,1,1,1,1,1
60.0,3,3,3,3,3,3,3,3
62.0,1,1,1,1,1,1,1,1
80.0,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...
2500.0,2,2,2,2,2,2,2,2
2600.0,1,1,1,1,1,1,1,1
3500.0,1,1,1,1,1,1,1,1
10000.0,1,1,1,1,1,1,1,1
15590.0,5,5,5,5,5,5,5,5

In [38]:
col = "performance"
handler.try_rename_col(col="performance_0_100_km_h", name=col)

handler.try_clean_string_to_number_col(col)
clean_df = handler.df.copy()
group_df = clean_df.groupby(col).count()
group_df.head(1500)

,company_names,cars_names,cc_battery_capacity,horsepower,cars_prices,fuel_types,seats,torque
performance,,,,,,,,
1.50,14,14,14,14,14,14,14,14
2.00,14,14,14,14,14,14,14,14
2.50,35,35,35,35,35,35,35,35
3.00,70,70,70,70,70,70,70,70
3.25,1,1,1,1,1,1,1,1
3.50,73,73,73,73,73,73,73,73
3.75,1,1,1,1,1,1,1,1
4.00,91,91,91,91,91,91,91,91
4.50,91,91,90,91,91,91,91,91
4.75,1,1,1,1,1,1,1,1
5.00,89,89,89,89,89,89,89,89
5.25,1,1,1,1,1,1,1,1
5.50,141,141,141,141,141,141,141,141
6.00,150,150,150,150,150,150,150,150
6.50,111,111,111,111,111,111,111,111
7.00,94,94,93,94,94,94,94,94
7.50,88,88,88,88,88,88,88,88
7.75,1,1,1,1,1,1,1,1
8.00,36,36,36,36,36,36,36,36
8.50,33,33,33,33,33,33,33,33
9.00,16,16,16,16,16,16,16,16
9.50,7,7,7,7,7,7,7,7
10.00,11,11,11,11,11,11,11,11
10.50,5,5,5,5,5,5,5,5
11.00,7,7,7,7,7,7,7,7
11.50,3,3,3,3,3,3,3,3
12.00,3,3,3,3,3,3,3,3
13.00,3,3,3,3,3,3,3,3
14.00,1,1,1,1,1,1,1,1
15.00,3,3,3,3,3,3,3,3
16.00,3,3,3,3,3,3,3,3
17.00,2,2,2,2,2,2,2,2
17.50,1,1,1,1,1,1,1,1
29.00,1,1,1,1,1,1,1,1

## Isolate Outliers